.container img {
    position: absolute;
    width: 210px;
}

/* FORGOT-PASSWORD PANEL */

.forgot-password-panel {
    flex: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--darker-gray);
}

.forgot-password-panel img:first-of-type {
    top: 0;
    right: 0;
    filter: brightness(135%);
}

.forgot-password-panel img:last-of-type {
    bottom: 0;
    left: 0;
    filter: brightness(135%);
}

.forgot-password-panel form {
    width: 100%;
    max-width: 480px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
}

.forgot-password-panel h2 {
    font-weight: bold;
    font-size: 3.1em;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.forgot-password-panel a {
    text-decoration: none;
    text-align: center;
    color: var(--light-gray);
    margin-bottom: 12px;
    transition: filter 350ms;
}

.forgot-password-panel a:hover {
    filter: brightness(120%);
}

.forgot-password-panel button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green);
    color: white;
    border: none;
    margin: 12px 0 17px 0;
}

.forgot-password-panel button:hover {
    filter: brightness(80%);
}

.input-field input::placeholder {
    color: var(--light-gray);
}

.input-field input {
    color: #dadada;
}

.input-field input:focus  {
    color: #ECECEC;
}

@media(max-height: 650px) {
    img {
        display: none !important;
    }
}

@media(max-width: 1024px) {
    .forgot-password-panel img:last-of-type {
        display: block;
    }
}

@media(max-width: 400px) {
    body {
        font-size: 14px;
    }

    .forgot-password-panel .input-field {
        height: 50px;
    }

    button {
        height: 50px;
    }

    .forgot-password-panel .input-field {
        padding: 0 .2rem;
    }
    
    .forgot-password-panel h2 {
        font-size: 2.6em;
    }
}

@media(max-width: 360px) {
    .forgot-password-panel .input-field {
        padding: 0 .9rem;
    }

    .input-field i {
        margin-right: 12px;
    }

    .forgot-password-panel a {
        text-align: center;
    }

    .forgot-password-panel h2 {
        font-size: 2.5em;
    }

    .container img {
        position: absolute;
        width: 160px;
    }
}

@media(max-width: 360px) {
    .forgot-password-panel h2 {
        font-size: 1.8em;
    }
}